<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421926019004-32ad64pmjmn0865i5frj7981gt77edpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421926019004-32ad64pmjmn0865i5frj7981gt77edpo</string>
	<key>API_KEY</key>
	<string>AIzaSyCIOmb7_33H7NqYbLDCB19pAaq4Kc4WYtU</string>
	<key>GCM_SENDER_ID</key>
	<string>421926019004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>komotechToyStoreCheckout.ToyStore2</string>
	<key>PROJECT_ID</key>
	<string>toystore-da9ec</string>
	<key>STORAGE_BUCKET</key>
	<string>toystore-da9ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421926019004:ios:c5d95d256579cf0faa55b9</string>
</dict>
</plist>